<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <ul>
      <li><a href="/users">All users</a></li>
      <li><a href="/salons">All salons</a></li>
      <li><a href="/visits">All visits</a></li>
      <li><a href="/likes">All likes</a></li>
      <li><a href="/follow_requests">All follow requests</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
